{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="video-styling">        
      <div class="video-wrapper">  
        <iframe class="video" src="http://www.youtube.com/embed/W7qWa52k-nE"
        width="560" height="315" align="middle" frameborder="0" allowfullscreen>
      </iframe>
      </div>
    </div>
    <!-- <div>  <object data="http://www.youtube.com/embed/W7qWa52k-nE"
      width="560" height="315"></object></div> -->
    <div class="Memiors" style="text-align: center" style="margin-top: 5%">
      {{long_text}}
    </div>
    <div class="collage">
      <ul>
          <img class="collage" src="{% static 'Ekko/project.jpg' %}" title="Kings Thrown"></a>
          <img class="collage" src="{% static 'Ekko/sandstorm.jpg' %}" title="Kings Thrown"></a>
          <img class="collage" src="{% static 'Ekko/skt.jpg' %}" title="Kings Thrown"></a>
        </ul>
    </div>
    <div class="shop_item">
      <ul>
        <a href="https://www.google.com"><img class="shop_image" src="{% static 'stock_photos/coat.jpg' %}" title="Kings Thrown"></a>
        <a href="https://www.google.com"><img class="shop_image" src="{% static 'stock_photos/shoes.jpg' %}" title="Kings Thrown"></a>
        <a href="https://www.google.com"><img class="shop_image" src="{% static 'stock_photos/pants.jpg' %}" title="Kings Thrown"></a>
      </ul>
    </div>
    <div class="shop_item">
      <div class="shop_image">

      </div>
      <div class="shop_title">

      </div>
      <div class="shop_price">

      </div>
    </div>
    <footer>c2019 {{dest_1.name}} Testing Site</footer>
{% endblock content %}