{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
    <img src="{{ product.image.url }}" alt="..." style="height: 170px; width: auto; margin-top:10px">
    <h3>{{product.description}}</h3>

    <form action="{{ product.get_add_to_cart_url }}">
    
        <button>Add to cart</button>
    
    </form>

    <form action="{{ product.get_remove_from_cart_url }}">
    
            <button>Remove from cart</button>
        
    </form>

{% endblock %}